In [36]:
import json
import sqlite3
import pandas as pd
pd.set_option('display.max_rows', 100)

In [37]:
JSON_FILE = "review.json"        
SQLITE_DB = "reviews_sample.db"

In [38]:
conn = sqlite3.connect(SQLITE_DB)
query_tables = "SELECT name FROM sqlite_master WHERE type='table';"
tables = pd.read_sql(query_tables, conn)
# number of tables in db = 3
tables

              name
0  sqlite_sequence
1          authors
2           hotels
3          reviews

In [39]:
table_name = 'authors'
authors_df = pd.read_sql(f"SELECT * FROM {table_name}", conn)

print(f"Data Shape: Rows: {authors_df.shape[0]}, Columns: {authors_df.shape[1]}")  # (rows, columns)
authors_df.describe()

Data Shape: Rows: 524023, Columns: 8

,author_no,author_num_reviews,author_num_cities,author_num_helpful_votes,author_num_type_reviews
count,524023.000000,523969.000000,357160.000000,386588.000000,273448.000000
mean,262012.000000,11.610378,9.543325,12.302878,10.183724
std,151272.554393,19.744705,10.475232,24.292725,10.837735
min,1.000000,1.000000,2.000000,1.000000,3.000000
25%,131006.500000,1.000000,3.000000,2.000000,4.000000
50%,262012.000000,4.000000,6.000000,5.000000,7.000000
75%,393017.500000,14.000000,12.000000,13.000000,12.000000
max,524023.000000,935.000000,284.000000,964.000000,330.000000

In [40]:
# just to see how data looks like
print(f"pre-cleaning - Rows: {len(authors_df)}")
authors_df.tail(30)

pre-cleaning - Rows: 524023

,author_no,author_id,author_name,author_location,author_num_reviews,author_num_cities,author_num_helpful_votes,author_num_type_reviews
523993,523994,33A67B4E7BE6FCB424443A9B0BFF5092,emanuelelan,,6.0,5.0,NaN,NaN
523994,523995,3289BAB92143000EF7A7FD53F27F081D,Moefra,"Reggio Emilia, Italy",1.0,NaN,NaN,NaN
523995,523996,AB4D79AEB76DB5ABF44C83FEA5725F52,Giovanna_JL,"Roma, Italia",15.0,8.0,2.0,3.0
523996,523997,579AE775B45DC0FA61DB8F50B44DE421,hqyap,"Osaka, Japan",1.0,NaN,NaN,NaN
523997,523998,F27DC487CC30FEF8282757C7766EB894,Claudio71,Macerata,19.0,16.0,6.0,8.0
523998,523999,AEB751B93867C601C484E71D24949CE8,Alberto F,,1.0,NaN,1.0,NaN
523999,524000,BA6DDA3ACBA092798716CA95398238ED,Sissiundfranz,,11.0,10.0,2.0,8.0
524000,524001,F114FB8FD81F6EF8308F5D3E24A67A0D,kent991230,kobe,1.0,NaN,NaN,NaN
524001,524002,9946721D7459D75DF238FE6E01A3DF51,absolute_girl,"Montreal, Canada",8.0,7.0,7.0,7.0
524002,524003,1E47A5870989B58AB2FFAF61A5B6B40E,Docdodo,"Besana in Brianza, Italy",87.0,33.0,26.0,25.0
524003,524004,C4CE2B97B680AB8EF0FE628500068ED1,Sylvain D,"Frankfurt, Germany",10.0,9.0,4.0,8.0
524004,524005,E65B327F4552B493FFAB37E52459325B,Elsa G,"Buenos Aires, Argentina",7.0,3.0,3.0,NaN
524005,524006,BA9FB3AC47FE15BA8C03C96B83C77724,Ruth N,"Solothurn, Solothurn, Switzerland",1.0,NaN,NaN,NaN
524006,524007,A3FD1B09AFCA9653EF8AAD9D34F547F3,catlea,sardegna,22.0,13.0,28.0,10.0
524007,524008,4CEFAF2D124BCBC612EEAD1805EFB334,Swissvoyage,,17.0,10.0,6.0,5.0
524008,524009,29BB24949647FD814989CBD3A092E873,macdo74,"Thonon-les-Bains, France",5.0,4.0,3.0,4.0
524009,524010,190AB802C231B88AC7908268D5C45430,Kurt L,"Chicago, Illinois",2.0,2.0,NaN,NaN
524010,524011,F4FCF1B4D886700F8645C599D7C0DB1A,coccomax60,"Milan, Italy",13.0,7.0,NaN,4.0
524011,524012,521CE3A9413F39DD6BAE9CD2D51FC7A7,ole t,"Alesund, Norway",4.0,3.0,NaN,3.0
524012,524013,84F519F161BCA02277A57837AA94CB05,criticochileno,"Santiago, Chile",18.0,9.0,18.0,8.0
524013,524014,F97F67FB925EA7BAA61EBE4FADFEA85B,thegarlicheads,,7.0,7.0,2.0,6.0
524014,524015,707465F74FC1695FCB60DB75D3354948,Loukoume,"Paris, France",15.0,8.0,7.0,8.0
524015,524016,7B2BF2CBA618F5EF57ABD77B8BCB5DF7,JamesD1975,Germany,17.0,12.0,3.0,8.0
524016,524017,8C0A5D7AAAC626F189C01058F464A47E,MIssBeaker,"Hamburg, Germany",6.0,5.0,3.0,5.0
524017,524018,372E83E5CC6D5C9D4B803C37AC7A32D1,sofia2000,Emilia Romagna,10.0,8.0,6.0,7.0
524018,524019,36E008EAD7CC431D1266FF182F04EABE,Zenithlive,"Madrid, Spain",5.0,5.0,NaN,4.0
524019,524020,3A07A1C120FBA55B39CD29140508C4F6,stellatux,"Munich, Germany",3.0,3.0,NaN,NaN
524020,524021,739C5D4C99D89623B53AAECFA0D5179D,Putzi123,Frankfurt,2.0,2.0,NaN,NaN
524021,524022,0590C30482A1E0C425B937BC43F04F9B,DodieLachine,Lachine,2.0,2.0,NaN,NaN
524022,524023,16A124ECD36140A18072FF2AF9F378F2,mariana2009092,Puerto rico,1.0,NaN,NaN,NaN

In [ ]:
sorted_dupe_authors = authors_df[authors_df.duplicated(subset=['author_id'], keep=False)].sort_values(by='author_id')
print(f"Number of duplicate rows:\t{len(sorted_dupe_authors)}")

full_names_before = set(authors_df['author_name'].unique())

duped_names_before = set(sorted_dupe_authors['author_name'].unique())
print(f"Unique names from authors before clean:{len(full_names_before)}")
print(f"Unique names from duplicates before clean:{len(duped_names_before)}")

sorted_dupe_authors[0:10]
# sorted_dupe_authors[0:100]
# sorted_dupe_authors[101:200]
# sorted_dupe_authors[201:300]
# sorted_dupe_authors[sorted_dupe_authors['author_name'] == 'Daniel B']
# sorted_dupe_authors[sorted_dupe_authors['author_name'] == 'niki16']
# sorted_dupe_authors[sorted_dupe_authors['author_name'] == 'Bellwmu']

Number of duplicate rows:	2062
Unique names from authors before clean:483346
Unique names from duplicates before clean:1120

'\nLOGIC\nThis is another unique case where two author id has different name, we will merge based off same \n'

In [72]:
'''
LOGIC
This is another unique case where two author id has different name, we will merge based off same 
'''
sorted_dupe_authors[sorted_dupe_authors['author_id'] == '1B27A5219983ACC4A0269FAF6F7E20C5']

,author_no,author_id,author_name,author_location,author_num_reviews,author_num_cities,author_num_helpful_votes,author_num_type_reviews,completeness_score
425516,425517,1B27A5219983ACC4A0269FAF6F7E20C5,Bellwmu,"Ann Arbor, MI",23.0,14.0,14.0,12.0,4
162807,162808,1B27A5219983ACC4A0269FAF6F7E20C5,niki16,"Ann Arbor, MI",23.0,14.0,14.0,12.0,4

In [65]:
'''
LOGIC
Removing duplicates for author's table, can see above code. Observed that author_name is duplicated but author_no is unique. The logic
is assumed that a higher author no (eg: 25107 vs 405914) has 405914 to be a more recent record. We can remove the duplicates 
following the below heuristic (earliest takes higher priority)

1. Completeness of author_num_reviews, author_num_cities, author_num_helpful_votes, author_num_type_reviews
    Rows with 4/4 valid columns come first
2. Higher author_no == newer data, come first

- if there are 2 duplicate rows, see "sorted_dupe_authors[sorted_dupe_authors['author_name'] == 'Daniel B']"
    we will prioritise the earlier record that has lesser NaN values
'''

cols_to_check = ['author_num_reviews', 'author_num_cities', 'author_num_helpful_votes', 'author_num_type_reviews']
authors_df['completeness_score'] = authors_df[cols_to_check].notna().sum(axis=1)

authors_df = authors_df.sort_values(by=['completeness_score', 'author_no'], ascending=[False, False])

authors_deduped = authors_df.drop_duplicates(subset=['author_id'], keep='first')
authors_deduped = authors_deduped.drop(columns=['completeness_score']).reset_index(drop=True)

names_after = set(authors_deduped['author_name'].unique())

print(f"Unique names after: {len(names_after)}")
print(f"Original count: {len(authors_df)}")
print(f"Cleaned count: {len(authors_deduped)}")
authors_deduped.head()

Unique names after: 483164
Original count: 524023
Cleaned count: 522889

,author_no,author_id,author_name,author_location,author_num_reviews,author_num_cities,author_num_helpful_votes,author_num_type_reviews
0,524018,372E83E5CC6D5C9D4B803C37AC7A32D1,sofia2000,Emilia Romagna,10.0,8.0,6.0,7.0
1,524017,8C0A5D7AAAC626F189C01058F464A47E,MIssBeaker,"Hamburg, Germany",6.0,5.0,3.0,5.0
2,524016,7B2BF2CBA618F5EF57ABD77B8BCB5DF7,JamesD1975,Germany,17.0,12.0,3.0,8.0
3,524015,707465F74FC1695FCB60DB75D3354948,Loukoume,"Paris, France",15.0,8.0,7.0,8.0
4,524014,F97F67FB925EA7BAA61EBE4FADFEA85B,thegarlicheads,,7.0,7.0,2.0,6.0

In [47]:
# sanity check to ensure no duplicated author_id
sorted_dupe_author_id = authors_deduped[authors_deduped.duplicated(subset=['author_id'], keep=False)].sort_values(by='author_id')
print(len(sorted_dupe_author_id))

0

In [54]:
# sanity check to ensure no duplicated author_id
sorted_dupe_author_no = authors_deduped[authors_deduped.duplicated(subset=['author_no'], keep=False)].sort_values(by='author_no')
print(len(sorted_dupe_author_no))

0

In [ ]:
# ISSUE: duplicated author_names
sorted_dupe_author_name = authors_deduped[authors_deduped.duplicated(subset=['author_name'], keep=False)].sort_values(by='author_name')
print(len(sorted_dupe_author_name))

49899

In [ ]:
# CHECK: same name but location differs

from IPython.display import display

name_counts = authors_deduped['author_name'].value_counts()
duplicate_names = name_counts[name_counts > 1].index

print(len(duplicate_names))

# adjust the split range duplicated_names[x] to see specific entry and duplicated_names[1:10] to see a few examples
common_name = duplicate_names[1:2]
for c in common_name:
    print(f"Duplicates for name: {c}") 
    
    entries = authors_deduped[authors_deduped['author_name'] == c]
    display(entries[['author_id', 'author_name', 'author_location', 'author_num_reviews', 'author_num_cities', 'author_num_helpful_votes', 'author_num_type_reviews']].head(20))

# OBSERVATION: we assume that the name is duplicated but author_location is unique. That means they are actually different customers
# we can also observe the author_num_reviews, author_num_cities, author_num_helpful_votes, author_num_type_reviews are not very similar
# TODO: should we clean location to countries only?

10174
Duplicates for name: David B

,author_id,author_name,author_location,author_num_reviews,author_num_cities,author_num_helpful_votes,author_num_type_reviews
15911,CC08AFD28033FB780AD1D32EBA0E4980,David B,"Columbus, Ohio",26.0,10.0,15.0,6.0
17684,62630A1D0714FEF90C4CD0F38368D657,David B,"Huddersfield, United Kingdom",25.0,13.0,8.0,9.0
21692,833AE3396D8D0B2B114186DF8DD9F103,David B,"New York City, New York",14.0,5.0,7.0,3.0
48108,EAD2FB887C71DD2C62B18185CE12A20D,David B,"Fort Myers, Florida",6.0,6.0,5.0,6.0
49123,8729A8290B01E3767637A0505936101B,David B,Indianapo,3.0,3.0,1.0,3.0
66796,37720149867226EE0A300A3F6A45B937,David B,"Montgomery, Alabama",10.0,5.0,4.0,4.0
70769,12565BD91DEB2B0FC0AF15A14028AD1C,David B,"Atlanta, Georgia",4.0,4.0,5.0,4.0
95050,A6183369278DAEF37748B1F0E5ACB52A,David B,"Fort Worth, Texas",12.0,3.0,3.0,3.0
111050,70CAB47D53DCA2BBAC69E9F99812044C,David B,"Blacksburg, VA",18.0,17.0,18.0,18.0
115504,A54C244741654674EAE6890FA5CA9A25,David B,Chicago,41.0,21.0,12.0,13.0
116339,39E12E3B35812CBFE39629B478779D38,David B,"Tarpon Springs, Florida, United States",5.0,3.0,5.0,5.0
130594,2B28D07B7B2A9B3B21495A932B85CB65,David B,"Sydney, Australia",11.0,10.0,26.0,11.0
148904,B2BC3838D4D711AEE41449A8C2CD1E22,David B,"Andover, United Kingdom",12.0,7.0,1.0,8.0
149779,46803A41DE0C768D268E2662CB67E7BC,David B,"Bath, United Kingdom",60.0,25.0,21.0,12.0
164469,4CBB32C115A7D3E987967BC907DEE6FE,David B,"Sarasota, Florida",12.0,7.0,3.0,5.0
181293,0AFE64D9695876F014187F72F0AFA412,David B,"Miami, Florida",8.0,5.0,4.0,5.0
197393,76BFF02CCCB32DFEEAB059F9E9867F81,David B,"Anaheim, California",34.0,13.0,18.0,11.0
197772,20159EA4CBF8AE21B5BFA806832CE71B,David B,"Johannesburg, South Africa",35.0,17.0,6.0,17.0
215742,8BF676C4CAAB702713D8396E1F8D0696,David B,,4.0,3.0,4.0,4.0
226048,4C722279090737159DC0A6F47F13A945,David B,"Hamburg, Germany",30.0,27.0,2.0,26.0

In [79]:
print(f"Original Data Shape: \t\t Rows: {authors_df.shape[0]}, Columns: {authors_df.shape[1]}")  # (rows, columns)
authors_df.describe()

print(f"Data Shape after Deduped: \t Rows: {authors_deduped.shape[0]}, Columns: {authors_deduped.shape[1]}")  # (rows, columns)
authors_deduped.describe()
authors_df.head()

Original Data Shape: 		 Rows: 524023, Columns: 9
Data Shape after Deduped: 	 Rows: 522889, Columns: 8

,author_no,author_id,author_name,author_location,author_num_reviews,author_num_cities,author_num_helpful_votes,author_num_type_reviews,completeness_score
524017,524018,372E83E5CC6D5C9D4B803C37AC7A32D1,sofia2000,Emilia Romagna,10.0,8.0,6.0,7.0,4
524016,524017,8C0A5D7AAAC626F189C01058F464A47E,MIssBeaker,"Hamburg, Germany",6.0,5.0,3.0,5.0,4
524015,524016,7B2BF2CBA618F5EF57ABD77B8BCB5DF7,JamesD1975,Germany,17.0,12.0,3.0,8.0,4
524014,524015,707465F74FC1695FCB60DB75D3354948,Loukoume,"Paris, France",15.0,8.0,7.0,8.0,4
524013,524014,F97F67FB925EA7BAA61EBE4FADFEA85B,thegarlicheads,,7.0,7.0,2.0,6.0,4

In [80]:
authors_deduped.head()

,author_no,author_id,author_name,author_location,author_num_reviews,author_num_cities,author_num_helpful_votes,author_num_type_reviews
0,524018,372E83E5CC6D5C9D4B803C37AC7A32D1,sofia2000,Emilia Romagna,10.0,8.0,6.0,7.0
1,524017,8C0A5D7AAAC626F189C01058F464A47E,MIssBeaker,"Hamburg, Germany",6.0,5.0,3.0,5.0
2,524016,7B2BF2CBA618F5EF57ABD77B8BCB5DF7,JamesD1975,Germany,17.0,12.0,3.0,8.0
3,524015,707465F74FC1695FCB60DB75D3354948,Loukoume,"Paris, France",15.0,8.0,7.0,8.0
4,524014,F97F67FB925EA7BAA61EBE4FADFEA85B,thegarlicheads,,7.0,7.0,2.0,6.0

In [82]:
# CLEAN: replace NaN with 0 
cols_to_fix = ['author_num_reviews', 'author_num_cities', 'author_num_helpful_votes', 'author_num_type_reviews']
authors_deduped[cols_to_fix] = authors_deduped[cols_to_fix].fillna(0)

# CLEAN: replace floats with integers
authors_deduped[cols_to_fix] = authors_deduped[cols_to_fix].astype(int)

print("Verification check for null")
print(authors_deduped[cols_to_fix].isnull().sum())
print()
print("Verification check for datatype")
print(authors_deduped[cols_to_fix].dtypes)
authors_deduped.head()

Verification check for null
author_num_reviews          0
author_num_cities           0
author_num_helpful_votes    0
author_num_type_reviews     0
dtype: int64

Verification check for datatype
author_num_reviews          int64
author_num_cities           int64
author_num_helpful_votes    int64
author_num_type_reviews     int64
dtype: object

,author_no,author_id,author_name,author_location,author_num_reviews,author_num_cities,author_num_helpful_votes,author_num_type_reviews
0,524018,372E83E5CC6D5C9D4B803C37AC7A32D1,sofia2000,Emilia Romagna,10,8,6,7
1,524017,8C0A5D7AAAC626F189C01058F464A47E,MIssBeaker,"Hamburg, Germany",6,5,3,5
2,524016,7B2BF2CBA618F5EF57ABD77B8BCB5DF7,JamesD1975,Germany,17,12,3,8
3,524015,707465F74FC1695FCB60DB75D3354948,Loukoume,"Paris, France",15,8,7,8
4,524014,F97F67FB925EA7BAA61EBE4FADFEA85B,thegarlicheads,,7,7,2,6

In [ ]:
# TODO: are we happy with this state? i think author_location can be improved, separate them to two columns, state and country

Original Data Shape: 		 Rows: 524023, Columns: 9
Data Shape after Deduped: 	 Rows: 522889, Columns: 8

,author_no,author_id,author_name,author_location,author_num_reviews,author_num_cities,author_num_helpful_votes,author_num_type_reviews,completeness_score
524017,524018,372E83E5CC6D5C9D4B803C37AC7A32D1,sofia2000,Emilia Romagna,10.0,8.0,6.0,7.0,4
524016,524017,8C0A5D7AAAC626F189C01058F464A47E,MIssBeaker,"Hamburg, Germany",6.0,5.0,3.0,5.0,4
524015,524016,7B2BF2CBA618F5EF57ABD77B8BCB5DF7,JamesD1975,Germany,17.0,12.0,3.0,8.0,4
524014,524015,707465F74FC1695FCB60DB75D3354948,Loukoume,"Paris, France",15.0,8.0,7.0,8.0,4
524013,524014,F97F67FB925EA7BAA61EBE4FADFEA85B,thegarlicheads,,7.0,7.0,2.0,6.0,4